<div class="index-container">
    <div class="middleColumn">
        <div class="indexBeer">
            <img src="/images/beer.png" alt="">
        </div>
        <div class="indexButtons">
            <button><a href="/beers">Check the beers!</a></button>
            <button><a href="/random-beers">Cheak a Random Beer!</a></button>
        </div>

    </div>
</div>